
/* style-game */
.style-game {
    background-color: hsl(var(--nextui-game_p) / var(--nextui-game_p-opacity, var(--tw-bg-opacity)));
    color: hsl(var(--nextui-game_s2) / var(--nextui-game_s2-opacity, var(--tw-text-opacity)));
    border-color: hsl(var(--nextui-game_s2) / var(--nextui-game_s2-opacity, var(--tw-text-opacity)));
}

/* button-game */
.button-game {
    background-color: hsl(var(--nextui-game_s2) / var(--nextui-game_s2-opacity, var(--tw-text-opacity)));
    color: hsl(var(--nextui-game_s1) / var(--nextui-game_s1-opacity, var(--tw-bg-opacity)));
}

/* input-game */
.input-game label {
    color: hsl(var(--nextui-game_s2) / var(--nextui-game_s2-opacity, var(--tw-text-opacity)));
}
.input-game input {
    color: hsl(var(--nextui-game_s2) / var(--nextui-game_s2-opacity, var(--tw-text-opacity))) !important;
}
.input-game div div[data-slot=input-wrapper] {
    background-color: hsl(var(--nextui-game_s1) / var(--nextui-game_s1-opacity, var(--tw-bg-opacity)));
}
.input-game div div[data-slot=input-wrapper][data-hover=true] {
    background-color: hsl(var(--nextui-game_s1) / var(--nextui-game_s1-opacity, var(--tw-bg-opacity)));
    opacity: .8;
}
.input-game div div[data-slot=input-wrapper][data-focus=true] {
    background-color: hsl(var(--nextui-game_s1) / var(--nextui-game_s1-opacity, var(--tw-bg-opacity)));
}

/* toast-game */
.toast-game .Toastify__toast{
    background-color: hsl(var(--nextui-game_p) / var(--nextui-game_p-opacity, var(--tw-bg-opacity)));
    color: hsl(var(--nextui-game_s2) / var(--nextui-game_s2-opacity, var(--tw-text-opacity)));
}