@media screen and (max-width: 1024px) {
    .filters-trans-lg-enter {
        max-height: 0;
    }

    .filters-trans-lg-enter-active {
        max-height: 100vh;
        transition: .3s;
    }

    .filters-trans-lg-enter-done {
        max-height: 100vh;
    }

    .filters-trans-lg-exit {
        max-height: 100vh;
    }

    .filters-trans-lg-exit-active {
        max-height: 0;
        transition: .3s;
    }

    .filters-trans-lg-exit-done {
        max-height: 0;
    }
}
@media screen and (min-width: 1025px){
    .filters-trans-lg-enter {
        max-height: 100vh;
    }

    .filters-trans-lg-exit-active {
        max-height: 100vh;
    }

    .filters-trans-lg-exit-done {
        max-height: 100vh;
    }
}