@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'campana script';
        src: url('./assets/fonts/campana_script/CampanaScript_PERSONAL_USE_ONLY.otf') format('truetype');
    }

    @font-face {
        font-family: 'gobold';
        src: url('./assets/fonts/gobold/Gobold\ Extra1.otf') format('truetype');
    }

    @font-face {
        font-family: 'comfortaa';
        src: url('./assets/fonts/comfortaa/Comfortaa-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'champagne_limousines';
        src: url('./assets/fonts/champagne_limousines/Champagne\ &\ Limousines.ttf') format('truetype');
    }

    @font-face {
        font-family: 'calinastiya';
        src: url('./assets/fonts/calinastiya/Calinastiya\ demo.ttf') format('truetype');
    }


}

html {
    scroll-behavior: smooth;
    font-family: cursive;
}

.break-all {
    word-break: break-all;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-title {
    font-family: 'campana script', 'helvetica';
    font-style: italic;
    text-shadow:
        1px 1px 2px hsl(var(--nextui-background) / var(--nextui-background-opacity, var(--tw-bg-opacity))),
        0 0 1em green,
        0 0 0.2em green;
    transition: all .4s;
}

body.dark-mode .custom-title {
    text-shadow:
        1px 1px 2px hsl(var(--nextui-background) / var(--nextui-background-opacity, var(--tw-bg-opacity))),
        0 0 1em palegreen,
        0 0 0.2em palegreen;
}

.border-custom {
    /* border-image-source: url("./assets/borders/borde.png"); */
    border-image-width: 50px;
    border-image-slice: 70;
    border-image-repeat: round;
}


/* fix */
.bg-danger-100 {
    background-color: hsl(var(--nextui-danger-100) / var(--nextui-background-opacity, var(--tw-bg-opacity)));
}

.bg-danger-200 {
    background-color: hsl(var(--nextui-danger-200) / var(--nextui-background-opacity, var(--tw-bg-opacity)));
}

.bg-success-100 {
    background-color: hsl(var(--nextui-success-100) / var(--nextui-background-opacity, var(--tw-bg-opacity)));
}

.bg-success-200 {
    background-color: hsl(var(--nextui-success-200) / var(--nextui-background-opacity, var(--tw-bg-opacity)));
}

.bg-secondary-100 {
    background-color: hsl(var(--nextui-secondary-100) / var(--nextui-background-opacity, var(--tw-bg-opacity)));
}

.bg-secondary-200 {
    background-color: hsl(var(--nextui-secondary-200) / var(--nextui-background-opacity, var(--tw-bg-opacity)));
}



/* @media screen and (min-width: 0px) {}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1536px) {} */



@media screen and (max-width: 360px) {
    ::-webkit-scrollbar {
        display: none;
    }

    .form-xs {
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        border-left: 0;
        border-right: 0;
    }

    .form-xs .form-input div {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .form-xs .form-select button {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .form-xs .form-button {
        border-radius: 0;
    }


    .input-xs div {
        border-radius: 0;
    }

    .select-xs button {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    .button-xs {
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        word-break: break-all;
    }

    .buttongroup-xs {
        width: 100%;
        flex-wrap: wrap;
    }

    .buttongroup-xs button,
    .buttongroup-xs a {
        width: 100%;
        border-radius: 0 !important;
        border-left: 0;
        border-right: 0;
        word-break: break-all;
    }
}