#home {
    background-image: url("../../assets/imgs/dia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}
body.dark-mode #home{
    background-image: url("../../assets/imgs/noche.jpg");
}

#home-banner  {
    /* background-color: rgb(255 255 255 / 0.1); */
    background: linear-gradient( rgba(125, 125, 125, 0.5), transparent);
    backdrop-filter: blur(3px);
}

.card-header {
    background: linear-gradient(90deg, rgba(125, 125, 125, 0.7), 40%, transparent);
}